main{
	overflow-x: 0;
	padding:0px;
	margin: 0px;
}

body{
	overscroll-behavior: none;
}

h1{
  margin: 0px;

  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;

  font-size: 3vw;
}

h2{
  margin: 0px;


  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;


  font-size: 4vw;
}


p{
  padding: 0px;
  margin: 0px;

font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;

	font-size: 2vw;
}

h3{
  padding: 0px;
  margin: 0px;

font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;

  font-size: 1vw;
}



a{
  padding: 0px;
  margin: 0px;

font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 400;

  font-size: 2vw;
}


/*HOME*/

/*TOPSIDE*/

.topSide{
  height:8vw;
  /*padding:2vw;*/
  padding: 10vw;
  padding-bottom:20vw;
  /*padding-top:4vw;*/
  padding-top:5vw;
}


/*HOME GRID*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vw;
  width:82vw;
  padding:auto;
  margin:auto;
  
}

.grid-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  text-align: center;
  margin: auto;
  transition: transform .5s;
}

.grid-item img{
  width:25vw;
}


.grid-item:hover {
  transform: scale(1.1);
}


/*FOOTER*/

.footer{
  display: flex;
  width:98vw;
  padding-top:9vh;
  padding-bottom: 6vh;

}

.footer img{
  text-align: center;
  width:7vw;
  height:100%;
  padding-left:9vw;
}

.bottomText{
  text-align: center;
  padding-left: 2vw;
  padding-top:3vh;
}







/*PAGES*/


.images-grid{

  /*border:1px solid blue;*/
  display:flex;
  column-gap: 4vw;
  text-align: center;

  width:90%;
  text-align: left;
  padding: 2vw;
  margin:auto;
  margin-top:5vw;
}

.images-grid img{
  width:50vw;
}



/*FOR THE ANIME FACE FILTER PAGE ONLY*/


.images-gridAFF{

  /*border:1px solid blue;*/
  display:flex;
  column-gap: 4vw;
  text-align: center;

  width:90%;
  text-align: left;
  padding: 2vw;
  margin:auto;
  margin-top:5vw;
}

.images-gridAFF img{
  width:65vh;
}














          @media screen and (max-width: 1200px) {
                body{
                    /*background-color: red;*/
                    margin:0px;
                }

h1{
  margin: 0px;


  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;


  font-size: 7vw;
}


h2{
  margin: 0px;


  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;


  font-size: 7vw;
}

                p{
                  padding: 0px;
                  margin: 0px;

                  font-family: aktiv-grotesk, sans-serif;
                  font-style: normal;
                  font-weight: 400;

                  font-size: 5vw;
                }

                a{
                  padding: 0px;
                  margin: 0px;

                  font-family: aktiv-grotesk, sans-serif;
                  font-style: normal;
                  font-weight: 400;

                  font-size: 5vw;
                }

                .topSide{
                  height:100%;
                  /*padding:2vw;*/
                  padding: 10vw;
                  padding-bottom:10vw;
                  /*padding-top:4vw;*/
                  padding-top:10vw;
                }




                        .grid-container {
                          display: grid;
                          grid-template-columns: auto;
                          grid-gap: 1vw;
                          width:82vw;
                          padding:auto;
                          margin:auto;
                          
                        }

                        .grid-item {
                          /*border: 1px solid rgba(0, 0, 0, 0.8);*/
                          text-align: center;
                          margin: auto;
                          transition: transform .5s;
                        }

                        .grid-item img{
                          width:80vw;
                        }


                        .grid-item:hover {
                          transform: scale(1.1);
                        }



.footer{
  display: flex;
  width:98vw;
  padding-top:7vw;
  padding-bottom: 3vw;

}

.footer img{
  text-align: center;
  width:10vw;
  height:100%;
  padding-left:9vw;
}







.images-grid{
  display:flex;
  flex-direction: column;
  margin:0px;
  padding:0px;
}

.bigPic {
  width:99vw;
  text-align: center;

}

.bigPic img{
  width:100vw;
  padding-top:8vw;
}

.description {
  padding-top:8vw;
  padding-left:5vw;
  margin:0px;
}



.images-gridAFF{
  display:flex;
  flex-direction: column;
  margin:0px;
  padding:0px;
}



/*PAGES*/


/*.images-grid{

  display:flex;

  flex-direction: vertical;

  column-gap: 4vw;
  text-align: center;

  width:100%;
  text-align: left;
  margin-top:5vw;
}

.images-grid img{
  width:100vw;
  height:100%;
}*/








/*FOR THE ANIME FACE FILTER PAGE ONLY*/


/*.images-gridAFF{

  
  display:flex;
  column-gap: 4vw;
  text-align: center;

  width:90%;
  text-align: left;
  padding: 2vw;
  margin:auto;
  margin-top:5vw;
}

.images-gridAFF img{
  width:65vh;
}*/


















/*.container{
  padding:5vw;
  padding-top:3vw;
  border:1px solid blue;
}

img{
  float:left;
  padding: 20px;
  margin: 0px;
}

h2{
}

p{
  
  margin: 0px;
}*/









/*.bigImage {
  display:inline-block;
  border:1px solid red;
  width:50vw;
}
.bigImage img{
  width:100%;
  object-fit: cover;
}


.heading{
border:1px solid green;
height: 10vh;
float: right;
}

.para{
  float: right;
}










/*.mainGrid{
	display:grid;
	text-align: center;
	width:100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.mainGrid img{
	width:20vw;
}*/

/*.projects{

display:flex;
grid-template-columns:1fr 1fr;
background-color:red; 
}

.project {
  padding: 0px;
  margin-left:3.4vh;
  margin-right:3.4vh;


  transition: transform .5s;
  border:1px solid blue;
  padding:50px;
}

.project:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.project img {
	max-height:45.7vh;
}*/
