main{
	overflow-x: 0;
	padding:0px;
	margin: 0px;
}

body{
	overscroll-behavior: none;
}

h1{
  margin: 0px;
  font-family: SF Pro;
  font-size: 3vw;
}


p{
  padding: 0px;
  margin: 0px;
	font-family: SF Pro;
	font-size: 2vw;
}




a{
  font-family: SF Pro;
  font-size: 2vw;
}


/*HOME*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: .5vw;
  
}

.grid-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  text-align: center;
  margin: auto;
  transition: transform .5s;
}

.grid-item img{
  width:30vw;
}


.grid-item:hover {
  transform: scale(1.1);
}







/*PAGES*/


.images-grid{

  /*border:1px solid blue;*/
  display:flex;
  column-gap: 4vw;
  text-align: center;

  width:90%;
  text-align: left;
  padding: 2vw;
  margin:auto;
  margin-top:5vw;
}

.images-grid img{
  width:50vw;
}


























/*.container{
  padding:5vw;
  padding-top:3vw;
  border:1px solid blue;
}

img{
  float:left;
  padding: 20px;
  margin: 0px;
}

h2{
}

p{
  
  margin: 0px;
}*/









/*.bigImage {
  display:inline-block;
  border:1px solid red;
  width:50vw;
}
.bigImage img{
  width:100%;
  object-fit: cover;
}


.heading{
border:1px solid green;
height: 10vh;
float: right;
}

.para{
  float: right;
}










/*.mainGrid{
	display:grid;
	text-align: center;
	width:100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.mainGrid img{
	width:20vw;
}*/

/*.projects{

display:flex;
grid-template-columns:1fr 1fr;
background-color:red; 
}

.project {
  padding: 0px;
  margin-left:3.4vh;
  margin-right:3.4vh;


  transition: transform .5s;
  border:1px solid blue;
  padding:50px;
}

.project:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.project img {
	max-height:45.7vh;
}*/
